@using Intl.Realty.Firm.Models.Models.ViewModel.TransactionTypeVM
@model List<TransactionTypeViewModel>

<div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-md-between align-items-center">
            <h1 class="text-blue mb-0">Transaction Types Management</h1>
            <div class="d-flex gap-4">
                <button id="btnMultipleDelete" 
                    class="btn btn-danger d-none align-items-center" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteConfirmModal">
                    <i data-feather="x" class="w-15px h-auto me-1"></i>
                    Delete
                </button>
@*                 <a asp-action="Create"
                   class="btn btn-primary d-flex align-items-center">
                    <i data-feather="plus" class="w-15px h-auto me-1"></i>Create New
                </a> *@

                <a href="#"
                   class="btn btn-primary d-flex align-items-center"
                   type="button"
                   data-bs-toggle="modal"
                   onclick="OpenCreateModal()"
                   style="text-decoration: none;">
                    <span class="text-danger px-1 pb-1" title="create">
                        <i data-feather="plus" class="w-15px h-auto me-1"></i>
                        Create New
                    </span>
                </a>
            </div>
        </div>
    </div>
    <form method="post" asp-action="DeleteMultiple">
        <table id="modelTable" class="data-table table table-hover w-100">
            <thead>
                <tr>
                    <th class="text-center w-5">
                        <input type="checkbox" class="column-checkbox" data-toggle="tooltip" data-bs-placement="left" title="Select all">
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Is Active?
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    var count = 0;
                }
                @foreach (var item in Model)
                {
                    count++;
                    <tr data-documentType-id="@item.Id">
                        <td class="text-center"> <input type="checkbox" class="row-checkbox" name="ids" value="@item.Id" /></td>
                        <td>
                            @{
                                    @count.ToString()
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => @item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => @item.IsActive)
                        </td>
                        <td>
                            <a href="#"
                               type="button"
                               data-bs-toggle="modal"
                               onclick="OpenEditModal(@item.Id)"
                               style="text-decoration: none;">
                                <span class="text-danger px-1 pb-1" title="Edit" data-position-id="@item.Id">
                                    <i data-feather="edit" class="data-feather-20"></i>
                                    Edit
                                </span>
                            </a>
                            <a href="#"
                               type="button"
                               data-bs-toggle="modal"
                            @* data-bs-target="#deletePositionModal" *@
                               onclick="OpenDeleteModal(@item.Id)"
                               style="text-decoration: none;">
                                <span class="text-danger px-1 pb-1" title="delete" data-position-id="@item.Id">
                                    <i data-feather="trash-2" class="data-feather-20"></i>
                                    Delete
                                </span>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>

    </form>
</div>

<script>
    $(document).ready(function () {
        $('.data-table').DataTable({
            columnDefs: [
                { targets: [0], orderable: false }
            ],
            order: [[1, 'asc']]
        });

        $('#modelTable').on('click', 'tbody tr', function (event) {
            // Check if the clicked element is not the checkbox
            if (!$(event.target).is(':checkbox')) {
                var transactionTypeId = $(this).data('documentType-id');
                window.location.href = '@Url.Action("Edit", "TransactionType")' + '?id=' + transactionTypeId;
            }
        });

        $('.column-checkbox').change(function () {
            var isChecked = $(this).prop('checked');
            $('.row-checkbox').prop('checked', isChecked);
        });

        $('#modelTable').on('change', '.column-checkbox', function () {
            var isChecked = $(this).prop('checked');
            $('.row-checkbox').prop('checked', isChecked);

        });

        $('#modelTable').on('change', '.row-checkbox', function () {
            var isChecked = $(this).prop('checked');

            var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
            $('.column-checkbox').prop('checked', allChecked);

        });

        $('#modelTable').on('change', '.row-checkbox, .column-checkbox', function () {
            var atLeastOneChecked = $('.row-checkbox:checked').length > 0;
            $('#btnMultipleDelete').toggleClass('d-none', !atLeastOneChecked);
            $('#btnMultipleDelete').toggleClass('d-flex', atLeastOneChecked);

            if ($(this).hasClass('column-checkbox')) {
                var isChecked = $(this).prop('checked');
                $('.row-checkbox').prop('checked', isChecked);
            }
        });

        $('.row-checkbox').change(function () {
            var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
            $('.column-checkbox').prop('checked', allChecked);
        });

        if (getUrlParameter('deleteSuccess') === 'true') {
            toastr.success('Selection deleted successfully!', '', {
                timeOut: 10000,
                closeButton: true,
                onHidden: function () {
                    updateUrlParameter('deleteSuccess', '');
                }
            });
        }

        $('#btnConfirmDelete').click(function () {
            $('#deleteConfirmModal').modal('hide');
            window.location.href = window.location.href.split('?')[0] + '?deleteSuccess=true';
        });
    });

    $("#cancelBtn").click(function () {
        closeModal();
    });

    function OpenMultipleDeleteModal() {
        var selectedRows = getSelectedRows();
        var selectedIdsArray = getIdsFromSelectedRows(selectedRows);

        var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
        $('.column-checkbox').prop('checked', allChecked);

        $('#DeleteMultipleModalContainer').load('/TransactionType/DeleteMultipleModal/', { ids: selectedIdsArray }, function () {
            $("#deleteConfirmModal").modal("show");
        });
    }

    function getIdsFromSelectedRows(selectedRows) {
        var ids = [];
        for (var i = 0; i < selectedRows.length; ++i)
            ids.push(selectedRows[i].value);
        return ids;
    }

    // function OpenDeleteModal(id) {
    //     $('#userTypeListPartialContainer').load('/UserType/DeleteModal/' + id, function () {
    //         $("#deleteConfirmModal").modal("show");
    //     });
    // }

    function OpenCreateModal() {
        $('#CreateModalContainer').load('/TransactionType/CreateModal/', function () {
            $("#createModal").modal("show");
        });
    }
    function OpenEditModal(id) {
        $('#EditModalContainer').load('/TransactionType/EditModal/' + id, function () {
            $("#editModal").modal("show");
        });
    }

    function OpenDeleteModal(id) {

        $('#DeleteModalContainer').load('/TransactionType/DeleteModal/' + id, function () {

            $("#deleteConfirmModal").modal("show");
        });
    }
</script>
