@using Intl.Realty.Firm.Models.Models.ViewModel.DocumentTypeVM
@model List<DocumentTypeViewModel>
@using System.ComponentModel.DataAnnotations
@{
    ViewData["Title"] = "DocumentType";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-md-between align-items-center">
            <h1 class="text-blue mb-0">Document Types</h1>
            <div class="d-flex gap-4">
                <button id="btnDeleteDocumentType" class="btn btn-danger d-none align-items-center" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"><i data-feather="x" class="w-15px h-auto me-1"></i>Delete</button>


                <a asp-action="Create"
                   class="btn btn-primary d-flex align-items-center">
                    <i data-feather="plus" class="w-15px h-auto me-1"></i>Create New
                </a>
            </div>
        </div>
    </div>
    <form method="post" asp-action="DeleteMultiple">
        <table id="documentTypeTable" class="data-table table table-hover w-100">
            <thead>
                <tr>
                    <th class="text-center w-5">
                        <input type="checkbox" class="column-checkbox" data-toggle="tooltip" data-bs-placement="left" title="Select all">
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr data-documentType-id="@item.Id">
                        <td class="text-center"> <input type="checkbox" class="row-checkbox" name="ids" value="@item.Id" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">
                                <span class="text-primary px-1 pb-1" title="edit" data-position-id="@item.Id">
                                    <i data-feather="edit" class="data-feather-20"></i>
                                    Edit
                                </span>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;">
                            <span class="text-danger px-1 pb-1" title="delete" data-position-id="@item.Id">
                                <i data-feather="trash-2" class="data-feather-20"></i>
                                Delete
                            </span>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body d-flex flex-column align-items-center py-5">
                        <div class="text-white bg-blue p-4 rounded-circle border-icon">
                            <i data-feather="help-circle" width="100" height="100"></i>
                        </div>
                        <h1 class="text-blue fw-bolder pt-3">Delete</h1>
                        <span class="fw-bolder">Are you sure you want to delete?</span>
                    </div>
                    <div class="d-flex justify-content-center mb-5 gap-4">
                        <button type="button" class="btn btn-secondary w-25" id="btnCancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="submit" class="btn btn-primary w-25" id="btnConfirmDelete">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.data-table').DataTable({
            columnDefs: [
                { targets: [0], orderable: false }
            ],
            order: [[1, 'asc']]
        });

        $('#documentTypeTable').on('click', 'tbody tr', function (event) {
            // Check if the clicked element is not the checkbox
            if (!$(event.target).is(':checkbox')) {
                var documentTypeId = $(this).data('documentType-id');
                window.location.href = '@Url.Action("Edit", "DocumentType")' + '?id=' + documentTypeId;
            }
        });

        $('.column-checkbox').change(function () {
            var isChecked = $(this).prop('checked');
            $('.row-checkbox').prop('checked', isChecked);
        });

        $('#documentTypeTable').on('change', '.column-checkbox', function () {
            var isChecked = $(this).prop('checked');
            $('.row-checkbox').prop('checked', isChecked);

        });

        $('#documentTypeTable').on('change', '.row-checkbox', function () {
            var isChecked = $(this).prop('checked');

            var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
            $('.column-checkbox').prop('checked', allChecked);

        });

        $('#documentTypeTable').on('change', '.row-checkbox, .column-checkbox', function () {
            var atLeastOneChecked = $('.row-checkbox:checked').length > 0;
            $('#btnDeleteDocumentType').toggleClass('d-none', !atLeastOneChecked);
            $('#btnDeleteDocumentType').toggleClass('d-flex', atLeastOneChecked);

            if ($(this).hasClass('column-checkbox')) {
                var isChecked = $(this).prop('checked');
                $('.row-checkbox').prop('checked', isChecked);
            }
        });

        $('.row-checkbox').change(function () {
            var allChecked = $('.row-checkbox').length === $('.row-checkbox:checked').length;
            $('.column-checkbox').prop('checked', allChecked);
        });

        if (getUrlParameter('deleteSuccess') === 'true') {
            toastr.success('Selection deleted successfully!', '', {
                timeOut: 10000,
                closeButton: true,
                onHidden: function () {
                    updateUrlParameter('deleteSuccess', '');
                }
            });
        }

        $('#btnConfirmDelete').click(function () {
            $('#deleteConfirmModal').modal('hide');
            window.location.href = window.location.href.split('?')[0] + '?deleteSuccess=true';
        });
    });
</script>

