@using Intl.Realty.Firm.Models.Models
@using Intl.Realty.Firm.Models.Models.ViewModel.SaleListingVM
@model CreateSaleListingViewModel

@{
    ViewData["Title"] = "Add New SaleListing";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <a href="@Url.Action("Index","SaleListing")" class="text-decoration-none text-blue d-flex mb-4">
        <i data-feather="chevron-left"></i><span>Back</span>
    </a>
    <form asp-action="Create" asp-controller="SaleListing" method="post" enctype="multipart/form-data" id="SaleListingForm">
        <div class="row justify-content-center">
            <input type="text" asp-for="Dataxxx" multiple hidden />

            <div class="row m-0 mb-4">
                <div class="col-md-12">
                    <div class="mb-4">
                        <span class="c-preline" style="white-space: pre-line">@ViewBag.RequiredDocsList</span>
                    </div>
                    <div class="gap-4 mb-5">
                        <h2 class="text-secondary fw-bold m-0">Attach Required Documents<span class="s-required">*</span></h2>
                        <div class="alert alert-warning mt-3 mb-3" role="alert">
                            <ul style="margin-bottom: 0px;">
                                <li>When uploading multiple files, drag all files at once on the field.</li>
                                <li>Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed for filenames. Spaces are not allowed. Please rename before uploading.</li>
                            </ul>
                        </div>

                        <label for="input-25">Sale Listing</label>
                        <div class="file-loading">
                            <input id="InputFileUpload"
                                   name="InputFileUpload[]"
                                   asp-for="FileUploadList.Files"
                                   type="file"
                                   class="file"
                                   multiple
                                   data-show-upload="false"
                                   data-allowed-file-extensions='["pdf","doc","docx","xls","xlsx"]'
                                   accept="application/all"
                                   data-show-caption="true"
                                   data-msg-placeholder="Select {files} for upload...">
                            <!-- onchange="fileChange(this)" -->
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="row d-flex justify-content-center m-0">
                <div class="col-md-12">
                    <h5 class="text-secondary">Please match your uploaded file based on the Document Type for Sale Listing.<span class="s-required">*</span></h5>
                    <table class="table dataTable" id="tblApplicantFiles">
                        <thead>
                            <tr>
                                <th style="width: 30%">
                                    Required Document
                                </th>
                                <th>
                                    Uploaded Document
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (DocumentType item in Model.DocumentTypeList)
                            {
                                <tr>
                                    <td style="width: 30%">
                                        @Html.DisplayFor(modelItem => item.Description)<span class="s-required">*</span>
                                    </td>
                                    <input type="hidden"
                                           asp-for="CreateFileUploadsViewModel[i].DocumentTypeId"
                                           value="@item.Id" />
                                    <td>
                                        <select class="form-select fileListDropDown"
                                                id="fileListDropDown_@i"
                                                data-prevVal=""
                                                data-curVal=""
                                                onchange="fileSelected(this)"
                                                asp-for="CreateFileUploadsViewModel[i].FileNames"
                                                multiple required>
                                        </select>
                                    </td>
                                    @{
                                        i++;
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-8 card p-4">
                <h1 class="text-blue mb-0">New Sale Listing</h1>
                <hr class="my-4" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.PropertyAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.PropertyAddress" class="form-control" value="PropertyAddress" />
                            <span asp-validation-for="CreateIRFDealViewModel.PropertyAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label fw-bolder"></label>
                            <input asp-for="CreatedBy" class="form-control" value="1" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalSalePrice" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalSalePrice" class="form-control" value="1" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalSalePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalClosingDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalClosingDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalClosingDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositAmount" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositAmount" class="form-control" value="1" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerName" class="form-control" value="BuyerName" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.LandLordName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.LandLordName" class="form-control" value="LandLordName" />
                            <span asp-validation-for="CreateIRFDealViewModel.LandLordName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="form-control" value="1" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="form-control" value="1" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingAgentName" class="form-control" value="ListingAgentName" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingAgentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerage" class="form-control" value="ListingBrokerage" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="form-control" value="ListingBrokerageFax" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerAgentName" class="form-control" value="BuyerAgentName" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerAgentName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="form-control" value="BuyerBrokerage" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="form-control" value="BuyerBrokerageFax" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyer" class="form-control" value="SellersLawyer" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="form-control" value="SellersLawyerAddress" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="form-control" value="SellersPhoneNumber" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyer" class="form-control" value="BuyersLawyer" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="form-control" value="BuyersLawyerAddress" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="form-control" value="BuyersPhoneNumber" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="button" value="Cancel" class="btn btn-secondary w-15" onclick="window.location.href='@Url.Action("Index", "SaleListing")'" />
                    <input type="submit" id="btnSubmit" value="Submit" class="btn btn-primary w-15" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/DataTables/datatables-custom.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Selectize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script> *@
<script type="text/javascript">
    $(document).ready(function () {

        jQuery.noConflict();

        // debugger;
        //MODAL FORM SUBMISSION CONFIRMATIONS
        const saleListingForm = document.getElementById('SaleListingForm');
        $("#btnSubmit").click(function () {

            //Check if required fields are filled up
            if ($("#SaleListingForm")[0].checkValidity()) {
                var formFiles = document.forms['SaleListingForm']['FileUploadList.Files'];

                var x = document.forms['SaleListingForm']['Dataxxx'];

                x.value = JSON.stringify(applications);

                if (formFiles.files.length == 0) {
                    Swal.fire({
                        title: "No File Selected",
                        text: "Please upload the required documents to proceed with the application.",
                        icon: "error",
                        confirmButtonColor: '#14984a'
                    });
                }
                else {
                    $('#confirmSubmitModal').modal("show"); //proceed to submit modal
                }
            }
            //If fields are not filled up
            else {
                //Validate Form
                $("#SaleListingForm")[0].reportValidity();
            }

        });
    });
    $("#backBtn").click(function () {
        $("#confirmSubmitModal").modal("hide");
    });

    $("#confirmBtn").click(function () {
        $("#confirmSubmitModal").modal("hide");
        saleListingForm.submit();
        $("#confirmSuccessModal").modal("show");
    });

    $("#finalOKBtn").click(function () {
        $("#confirmSuccessModal").modal("hide");
    });
    //END FOR MODAL FORM SUBMISSION CONFIRMATION

    // Function to enable editing of a specific application
    window.enableEdit = function (id) {
        $(`.editable[data-id=${id}]`).prop('contenteditable', 'true').focus();
        $(this).prop('contenteditable', 'false').html(`<input type="text" class="datepicker" value="${$(this).text()}">`);

    };

    // Function to update application data inline
    $(document).on('blur', '.editable', function () {
        let id = $(this).data('id');
        let field = $(this).data('field');
        let newValue = $(this).text();
        updateApplication(id, field, newValue);
    });

    function updateApplication(id, field, newValue) {
        let appIndex = applications.findIndex(app => app.ID === id);
        if (appIndex !== -1) {
            applications[appIndex][field] = newValue;
        }
    }

    //Multiple Select
    $('.form-select.fileListDropDown').each(function () {
        // debugger;
        //Initialize Selectize on the select element with the specified class

        var $select = $(this).selectize({
            create: true,
            placeholder: 'Please select your uploaded file',
            plugins: ['remove_button'], // Enable the remove button
        })[0].selectize;

        $('.file').on('change', function (event) {
            //validate
            var files = event.target.files;
            //var formFiles = document.forms['SaleListingForm']['FileUploadList.Files'];

            $select.clear();
            // Clear existing options
            $select.clearOptions();
            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;
                //Check if filename contains special characters
                if (fileName.search(/(?:\.(?![^.]+$)|[^\w.-])+/g) >= 0) {
                    Swal.fire({
                        icon: "error",
                        title: "File name not allowed!",
                        text: "Only upload filenames without special characters and spaces. Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed ",
                        confirmButtonColor: '#14984a'
                    });
                    const removeFileButton = document.querySelector('.fileinput-remove-button');
                    removeFileButton.click();
                    $select.clear();
                    $select.clearOptions();
                    break;
                }
                else {
                    // Add options based on the file name
                    $select.addOption({ value: fileName, text: fileName });
                }
            }

            // Refresh the Selectize control to update the UI
            //$select.refreshOptions();
        });

        //If files were placed using drag and drop feature
        $(document).on('drop', '.file-drop-zone.clearfix', function () {
            console.log("dropped");
            $select.clear();
            $select.clearOptions();

            var formFiles = document.forms['SaleListingForm']['FileUploadList.Files'];
            var files = formFiles.files;

            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;
                //Check if filename contains special characters
                if (fileName.search(/(?:\.(?![^.]+$)|[^\w.-])+/g) >= 0) {
                    Swal.fire({
                        icon: "error",
                        title: "File name not allowed!",
                        text: "Only upload filenames without special characters and spaces. Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed ",
                        confirmButtonColor: '#14984a'
                    });
                    const removeFileButton = document.querySelector('.fileinput-remove-button');
                    removeFileButton.click();
                    $select.clear();
                    $select.clearOptions();
                    break;
                }
                else {
                    // Add options based on the file name
                    $select.addOption({ value: fileName, text: fileName });
                }
            }
        });

        //If remove button of files will be clicked
        $(document).on('click', '.fileinput-remove-button', function () {
            console.log("remove button clicked");
            $select.clear();
            $select.clearOptions();
        });
    });

    //End of Multiple Select
    //FOR CHECKLIST OF DOCUMENTS
    function fileChange(that) {
        var formFiles = document.forms['SaleListingForm']['FileUploadList.Files'];
        PopulateFileDropDown(".fileListDropDown", formFiles.files);
    }

    function PopulateFileDropDown(fileDropDownClass, list) {
        $(fileDropDownClass).empty();
        $(fileDropDownClass).append("<option value=\"\" selected disabled>--Please select your uploaded file--</option>")
        $(fileDropDownClass).append("<option value=\"N/A\" >N/A</option>")
        $.each(list, function (index, row) {
            $(fileDropDownClass).append("<option value=\"" + row.name + "\"id=\"uploadedFile_" + index + "\">" + row.name + "</option>")
        });
    }

    function fileSelected(that) {
        var curval = that.dataset.curval;
        document.getElementById(that.id).setAttribute("data-prevVal", curval);
        document.getElementById(that.id).setAttribute("data-curVal", that.value);
    }
    //END FOR CHECKLIST OF DOCUMENTS

</script>