@using Intl.Realty.Firm.Models.Models
@using Intl.Realty.Firm.Models.Models.ViewModel.SaleListingVM
@using System.ComponentModel.DataAnnotations

@model CreateSaleListingViewModel
@{
    ViewData["Title"] = "Add New SaleListing";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <a href="@Url.Action("Index","SaleListing")" class="text-decoration-none text-blue d-flex mb-4">
        <i data-feather="chevron-left"></i><span>Back</span>
    </a>

    <div class="row justify-content-center">

        <div class="row d-flex justify-content-center m-0 mt-4">
            <table class="table dataTable" id="tblApplicantFiles">
                <thead>
                    <tr>
                        <th>
                            Required Document
                        </th>
                        <th>
                            Uploaded Document
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @try
                    {
                        @foreach (DocumentType item in @Model.DocumentTypeList)
                        {
                            <tr>
                                <input type="hidden" asp-for="@item.Id" value="@item.Id" />
                                <td>
                                    @Html.DisplayFor(modelItem => @item.Description)
                                <td>

                                    <input type="file" id="formFileMultiple" multiple>
                                </td>
                                    @{
                                        i++;
                                    }
                            </tr>
                        }
                    }
                    catch (Exception ex)
                    {

                    }
                </tbody>
            </table>
        </div>


        <div class="col-md-8 card p-4">
            <h1 class="text-blue mb-0">New Sale Listing</h1>
            <hr class="my-4" />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.PropertyAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.PropertyAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.PropertyAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label fw-bolder"></label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalSalePrice" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalSalePrice" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalSalePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalClosingDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalClosingDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalClosingDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositAmount" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositAmount" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.LandLordName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.LandLordName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.LandLordName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingAgentName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingAgentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerAgentName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerAgentName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyer" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyer" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="button" value="Cancel" class="btn btn-secondary w-15" onclick="window.location.href='@Url.Action("Index", "SaleListing")'" />
                    <input type="submit" value="Submit" class="btn btn-primary w-15" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
