@using Intl.Realty.Firm.Models.Models
@using Intl.Realty.Firm.Models.Models.ViewModel.SaleListingVM
@using System.ComponentModel.DataAnnotations

@model CreateSaleListingViewModel
@{
    ViewData["Title"] = "Add New SaleListing";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <a href="@Url.Action("Index","SaleListing")" class="text-decoration-none text-blue d-flex mb-4">
        <i data-feather="chevron-left"></i><span>Back</span>
    </a>

    <div class="row justify-content-center">

        <div class="row d-flex justify-content-center m-0 mt-4">
            <table class="table dataTable" id="tblApplicantFiles">
                <thead>
                    <tr>
                        <th>
                            Required Document
                        </th>
                        <th>
                            Uploaded Document
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (DocumentType item in @Model.DocumentTypeList)
                    {
                        <tr>
                            <input type="hidden" asp-for="@item.Id" value="@item.Id" />
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            <td>
                                
                                <input type="file" id="formFileMultiple" multiple>
                            </td>
                            @{
                                i++;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="col-md-8 card p-4">
            <h1 class="text-blue mb-0">New Sale Listing</h1>
            <hr class="my-4" />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PropertyAddress" class="control-label fw-bolder"></label>
                            <input asp-for="PropertyAddress" class="form-control" />
                            <span asp-validation-for="PropertyAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label fw-bolder"></label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.FinalSalePrice" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.FinalSalePrice" class="form-control" />
                            <span asp-validation-for="IRFDeal.FinalSalePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.FinalClosingDate" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.FinalClosingDate" class="form-control" />
                            <span asp-validation-for="IRFDeal.FinalClosingDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.DepositAmount" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.DepositAmount" class="form-control" />
                            <span asp-validation-for="IRFDeal.DepositAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.DepositDate" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.DepositDate" class="form-control" />
                            <span asp-validation-for="IRFDeal.DepositDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyerName" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyerName" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.LandLordName" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.LandLordName" class="form-control" />
                            <span asp-validation-for="IRFDeal.LandLordName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.ListingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.ListingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="IRFDeal.ListingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.ListingAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.ListingAgentName" class="form-control" />
                            <span asp-validation-for="IRFDeal.ListingAgentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.ListingBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.ListingBrokerage" class="form-control" />
                            <span asp-validation-for="IRFDeal.ListingBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.ListingBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.ListingBrokerageFax" class="form-control" />
                            <span asp-validation-for="IRFDeal.ListingBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyerAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyerAgentName" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyerAgentName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyerBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyerBrokerage" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyerBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyerBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyerBrokerageFax" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyerBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.SellersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.SellersLawyer" class="form-control" />
                            <span asp-validation-for="IRFDeal.SellersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.SellersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.SellersLawyerAddress" class="form-control" />
                            <span asp-validation-for="IRFDeal.SellersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.SellersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.SellersPhoneNumber" class="form-control" />
                            <span asp-validation-for="IRFDeal.SellersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyersLawyer" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyersLawyerAddress" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IRFDeal.BuyersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="IRFDeal.BuyersPhoneNumber" class="form-control" />
                            <span asp-validation-for="IRFDeal.BuyersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="button" value="Cancel" class="btn btn-secondary w-15" onclick="window.location.href='@Url.Action("Index", "SaleListing")'" />
                    <input type="submit" value="Submit" class="btn btn-primary w-15" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
