@using Intl.Realty.Firm.Models.Models
@using Intl.Realty.Firm.Models.Models.ViewModel.SaleListingVM
@using System.ComponentModel.DataAnnotations

@model CreateSaleListingViewModel
@{
    ViewData["Title"] = "Add New SaleListing";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <a href="@Url.Action("Index","SaleListing")" class="text-decoration-none text-blue d-flex mb-4">
        <i data-feather="chevron-left"></i><span>Back</span>
    </a>

    <div class="row justify-content-center">

        <div class="row d-flex justify-content-center m-0 mt-4">
            <table class="table dataTable" id="tblApplicantFiles">
                <thead>
                    <tr>
                        <th>
                            Required Document
                        </th>
                        <th>
                            Uploaded Document
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                     }
                        @foreach (DocumentType item in Model.DocumentTypeList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => @item.Description)
                                </td>
                                <input type="hidden"
                                       asp-for="CreateFileUploadsViewModel[i].Id"
                                       value="@item.Id" />
                                <td>
                                    <select class="form-select fileListDropDown"
                                            id="fileListDropDown_@i"
                                            data-prevVal=""
                                            data-curVal=""
                                            onchange="fileSelected(this)"
                                            asp-for="CreateFileUploadsViewModel[i].FileName"
                                            multiple required>
                                    </select>
                                </td>
                               @{
                                i++;
                               }
                            </tr>
                        }
                </tbody>
            </table>
        </div>


        <div class="col-md-8 card p-4">
            <h1 class="text-blue mb-0">New Sale Listing</h1>
            <hr class="my-4" />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.PropertyAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.PropertyAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.PropertyAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label fw-bolder"></label>
                            <input asp-for="CreatedBy" class="form-control" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalSalePrice" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalSalePrice" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalSalePrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.FinalClosingDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.FinalClosingDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.FinalClosingDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositAmount" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositAmount" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.DepositDate" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.DepositDate" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.DepositDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.LandLordName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.LandLordName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.LandLordName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyingCommissionPercentage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingAgentName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingAgentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.ListingBrokerageFax" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.ListingBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerAgentName" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerAgentName" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerAgentName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerage" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyerBrokerageFax" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyer" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersLawyerAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.SellersPhoneNumber" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.SellersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyer" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyer" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyer" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersLawyerAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="control-label fw-bolder"></label>
                            <input asp-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="form-control" />
                            <span asp-validation-for="CreateIRFDealViewModel.BuyersPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <hr class="my-5" />
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="button" value="Cancel" class="btn btn-secondary w-15" onclick="window.location.href='@Url.Action("Index", "SaleListing")'" />
                    <input type="submit" value="Submit" class="btn btn-primary w-15" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        function fileSelected(that) {
            var curval = that.dataset.curval;
            document.getElementById(that.id).setAttribute("data-prevVal", curval);
            document.getElementById(that.id).setAttribute("data-curVal", that.value);
        }
    });

    //Multiple Select
    $('.form-select.fileListDropDown').each(function () {
        //Initialize Selectize on the select element with the specified class

        var $select = $(this).selectize({
            create: true,
            placeholder: 'Please select your uploaded file',
            plugins: ['remove_button'], // Enable the remove button
        })[0].selectize;


        $('.file').on('change', function (event) {
            var files = event.target.files;
            //var formFiles = document.forms['ImporterRegForm']['filesUpload.Files'];
            //console.log("formFiles.files jq: ", formFiles.files);

            $select.clear();
            // Clear existing options
            $select.clearOptions();
            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;
                //Check if filename contains special characters
                if (fileName.search(/(?:\.(?![^.]+$)|[^\w.-])+/g) >= 0) {
                    Swal.fire({
                        icon: "error",
                        title: "File name not allowed!",
                        text: "Only upload filenames without special characters and spaces. Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed ",
                        confirmButtonColor: '#14984a'
                    });
                    const removeFileButton = document.querySelector('.fileinput-remove-button');
                    removeFileButton.click();
                    $select.clear();
                    $select.clearOptions();
                    break;
                }
                else {
                    //Check if filename exists on the application
                    var fileModel = @Html.Raw(Json.Serialize(Model.CreateFileUploadsViewModel));
                    var hasFile = fileModel.some(f => f.filename === fileName);
                    if (hasFile == true) {
                        Swal.fire({
                            icon: "error",
                            title: "Duplicate Filename!",
                            text: "The filename exists in your application, please rename it before uploading.",
                            confirmButtonColor: '#14984a'
                        });
                        const removeFileButton = document.querySelector('.fileinput-remove-button');
                        removeFileButton.click();
                        $select.clear();
                        $select.clearOptions();
                        break;
                    }
                    else {
                        // Add options based on the file name
                        $select.addOption({ value: fileName, text: fileName });
                    }
                }
            }

            // Refresh the Selectize control to update the UI
            //$select.refreshOptions();
        });

        //If files were placed using drag and drop feature
        $(document).on('drop', '.file-drop-zone.clearfix', function () {
            console.log("dropped");
            $select.clear();
            $select.clearOptions();

            var formFiles = document.forms['EditApplicationForm']['filesUpload.Files'];
            var files = formFiles.files;

            $select.addOption({ value: "N/A", text: "N/A" });
            // Loop through each selected file
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Get the file name
                var fileName = file.name;
                //Check if filename contains special characters
                if (fileName.search(/(?:\.(?![^.]+$)|[^\w.-])+/g) >= 0) {
                    Swal.fire({
                        icon: "error",
                        title: "File name not allowed!",
                        text: "Only upload filenames without special characters and spaces. Only alphanumeric characters (A-Z), (a-z), (0-9), underscores (_), and hyphen (-) are allowed ",
                        confirmButtonColor: '#14984a'
                    });
                    const removeFileButton = document.querySelector('.fileinput-remove-button');
                    removeFileButton.click();
                    $select.clear();
                    $select.clearOptions();
                    break;
                }
                else {
                    //Check if filename exists on the application
                    var fileModel = @Html.Raw(Json.Serialize(Model.CreateFileUploadsViewModel));
                    var hasFile = fileModel.some(f => f.filename === fileName);
                    if (hasFile == true) {
                        Swal.fire({
                            icon: "error",
                            title: "Duplicate Filename!",
                            text: "The filename exists in your application, please rename it before uploading.",
                            confirmButtonColor: '#14984a'
                        });
                        const removeFileButton = document.querySelector('.fileinput-remove-button');
                        removeFileButton.click();
                        $select.clear();
                        $select.clearOptions();
                        break;
                    }
                    else {
                        // Add options based on the file name
                        $select.addOption({ value: fileName, text: fileName });
                    }
                }
            }

        });

        //If remove button of files will be clicked
        $(document).on('click', '.fileinput-remove-button', function () {
            console.log("remove button clicked");
            $select.clear();
            $select.clearOptions();
        });

    });

    //End of Multiple Select

</script>
