@using Intl.Realty.Firm.Models.ViewModel

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intl.Realty.Firm</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <aside class="sidebar">
        <div class="h-auto d-flex align-items-center justify-content-center me-2 mt-3">
            <img src="~/files/img/logo-irf-white.png" alt="FASP IS Logo" class="img-fluid" />
        </div>

        <div class="nav-bar-container">
            <div class="accordion py-3" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#menu-dashboard" aria-expanded="false" aria-controls="menu-dashboard" asp-controller="Home" asp-action="Dashboard">
                            <i data-feather="bar-chart-2" data-placement="bottom" title="Dashboard"></i>
                            <span>Dashboard</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-administrator" aria-expanded="false" aria-controls="menu-administrator">
                            <i data-feather="unlock" data-bs-placement="right" title="Administrator"></i>
                            <span class="flex-grow-1">Administrator</span>
                        </button>
                    </h2>
                    <div id="menu-administrator" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="User" asp-action="Index">
                                                <span data-bs-placement="right" title="Users">Users</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="UserType" asp-action="Index">
                                                <span data-bs-placement="right" title="UserType">User Types</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="Department" asp-action="Index">
                                                <span data-bs-placement="right" title="Departments">Departments</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="Province" asp-action="Index">
                                                <span data-bs-placement="right" title="Province">Provinces/States</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="TransactionType" asp-action="Index">
                                                <span data-bs-placement="right" title="Transaction Types">Transaction Types</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="DocumentType" asp-action="Index">
                                                <span data-bs-placement="right" title="Document Types">Document Types</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="administratorSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="DocumentTypeAssignment" asp-action="Index">
                                                <span data-bs-placement="right" title="Document Types Assignment">Document Types Assignment</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-transactions" aria-expanded="false" aria-controls="menu-transactions">
                            <i data-feather="file" data-bs-placement="right" title="Transactions"></i>
                            <span class="flex-grow-1">Upload New Transactions</span>
                        </button>
                    </h2>
                    <div id="menu-transactions" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="transactionSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="SaleListing" asp-action="Index">
                                                <span data-bs-placement="right" title="SaleListing">Sale Listing</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="transactionSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="SaleCoop" asp-action="Index">
                                                <span data-bs-placement="right" title="SaleCoop">Sale Co-op</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="transactionSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="LeaseListing" asp-action="Index">
                                                <span data-bs-placement="right" title="LeaseListing">Lease Listing</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="transactionSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="LeaseCoop" asp-action="Index">
                                                <span data-bs-placement="right" title="LeaseCoop">Lease Co-op</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-info-packages" aria-expanded="false" aria-controls="menu-info-packages">

                            <i data-feather="info" data-bs-placement="right" title="InformationPackages"></i>
                            <span class="flex-grow-1">Information Packages</span>
                        </button>
                    </h2>
                    <div id="menu-info-packages" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="informationPackageSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="InformationPackage" asp-action="BusinessCards">
                                                <span data-bs-placement="right" title="BusinessCards">Business Cards & Signs</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="informationPackageSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="InformationPackage" asp-action="CommissionAdvance">
                                                <span data-bs-placement="right" title="CommissionAdvance">Apply for Commission Advance</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#menu-training" aria-expanded="false" aria-controls="menu-training" asp-controller="Training" asp-action="Training">
                            <i data-feather="award" data-placement="bottom" title="Training"></i>
                            <span>Training</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-programs" aria-expanded="false" aria-controls="menu-programs">

                            <i data-feather="bookmark" data-bs-placement="right" title="IrdPrograms"></i>
                            <span class="flex-grow-1">IRF Programs</span>
                        </button>
                    </h2>
                    <div id="menu-programs" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="irfProgramsSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="IrfPrograms" asp-action="Mortgage">
                                                <span data-bs-placement="right" title="Mortgage">IRF Mortgage Program</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="irfProgramsSubNavItem sub-nav-item">
                                    <ul class="list-unstyled">
                                        <li class="my-2 ms-4">
                                            <a class="sub-nav-link" asp-controller="IrfPrograms" asp-action="Leads">
                                                <span data-bs-placement="right" title="Leads">IRF Leads Program</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" aria-expanded="false" asp-controller="IrfBrandedWebsite" asp-action="IrfBrandedWebsite">
                            <i data-feather="globe" data-placement="bottom" title="IrfBrandedWebsite"></i>
                            <span>IRF Branded Website</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" aria-expanded="false" asp-controller="PurchaseIRFStocks" asp-action="PurchaseIRFStocks">
                            <i data-feather="bar-chart" data-placement="bottom" title="PurchaseIRFStocks"></i>
                            <span>Purchase IRF Stocks</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" aria-expanded="false" asp-controller="ReferAnAgent" asp-action="ReferAnAgent">
                            <i data-feather="user-plus" data-placement="bottom" title="ReferAnAgent"></i>
                            <span>Refer an Agent</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" aria-expanded="false" asp-controller="Preconstruction" asp-action="Preconstruction">
                            <i data-feather="package" data-placement="bottom" title="Preconstruction"></i>
                            <span>Pre-Construction</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" asp-controller="Media" asp-action="Index">
                            <i data-feather="upload" data-placement="bottom" title="Media"></i>
                            <span>Media</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" asp-controller="AccountManagement" asp-action="AccountManagement">
                            <i data-feather="activity" data-placement="bottom" title="Account Management"></i>
                            <span>Account Management</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" asp-controller="Profile" asp-action="Profile">
                            <i data-feather="user" data-placement="bottom" title="Profile"></i>
                            <span>Profile</span>
                        </button>
                    </h2>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed no-arrow" type="button" data-bs-toggle="collapse" asp-controller="Account" asp-action="Logout">
                            <i data-feather="power" data-placement="bottom" title="Logout"></i>
                            <span>Logout</span>
                        </button>
                    </h2>
                </div>
            </div>
        </div>
    </aside>
    <div class="top-bar">
        <div class="top-bar-container shadow-sm d-flex">
            <div class="d-flex align-items-center justify-content-between mx-4 w-100 d-none">
                <div class="d-flex flex-row align-items-center gap-2">
                    <i data-feather="home" class="w-15px h-auto text-blue"></i>
                    <ul class="breadcrumb mb-0">
                        @{
                            var breadcrumbs = ViewBag.Breadcrumbs as List<BreadcrumbViewModel>;
                            var totalItems = breadcrumbs?.Count ?? 0;
                        }

                        @if (breadcrumbs != null)
                        {
                            @foreach (var item in breadcrumbs)
                            {
                                <li class="breadcrumb-item d-flex align-items-center gap-2">
                                    <i data-feather="chevron-right" class="w-15px h-auto text-blue pt-1"></i>
                                    <a href="@item.Url" class="text-decoration-none @(item.Equals(breadcrumbs[totalItems - 1]) ? "text-secondary" : "text-blue")">@item.DisplayName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                @* <div>
                search
                notif
                user
                avatar
                </div> *@
            </div>
        </div>
    </div>
    <main role="main" class="main pb-5">
        <div class="main-container px-4 pt-4 mb-5">
            @RenderBody()
        </div>
    </main>
    <footer class="footer text-muted pt-3 ms-4 w-75 d-flex justify-content-center">
        <div class="container text-center">
            © 2024 International Realty Firm
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/feather.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            feather.replace();
            $('[data-toggle="tooltip"]').tooltip();
            // $('.data-table').DataTable();
            $('[id^=dt-search-]').attr('placeholder', 'Search...').addClass('fst-italic');
            $('.form-select').each(function () {
                if ($(this).closest('.table-responsive').length === 0) {
                    $(this).select2();
                }
            });

            // setActiveMenuItem();

            $('.nav-item a').on('click', function () {
                $('.nav-item').removeClass('selected');
                $(this).closest('.nav-item').addClass('selected');
            });

            var navConfigs = [
                { itemId: '#administratorNavItem', subNavClass: '.administratorSubNavItem', caret: '#administratorNavLink .caret' },
                { itemId: '#knowledgeManagementNavItem', subNavClass: '.knowledgeManagementSubNavItem', caret: '#knowledgeManagementNavLink .caret' },
                { itemId: '#LGISNavItem', subNavClass: '.LGISSubNavItem', caret: '#LGISNavLink .caret' },
                { itemId: '#OOTDNavItem', subNavClass: '.OOTDSubNavItem', caret: '#OOTDNavLink .caret' },
                { itemId: '#consultantNavItem', subNavClass: '.consultantSubNavItem', caret: '#consultantNavLink .caret' },
            ];

            navConfigs.forEach(function (config) {
                $(config.itemId).click(function () {
                    toggleNavItems(config.itemId, config.subNavClass, config.caret);
                });
            });

            $('#sidebarToggle').click(function () {
                $('aside').toggleClass('aside-minimized');
                $('.nav-link').toggleClass('hide-text');

                if ($('aside').hasClass('aside-minimized')) {
                    minimizeSidebar();
                    toggleAllCarets();
                } else {
                    expandSidebar();
                }

                $('.nav-link span').toggle();
            });
        });

        function toggleNavItems(clickedNavItem, clickedSubNavItem, clickedCaret) {
            $('.sub-nav-item').not(clickedSubNavItem).slideUp(100);
            $('.nav-link .caret').not(clickedCaret).removeClass('down');

            $(clickedCaret).toggleClass('down');
            $(clickedSubNavItem).slideToggle(100);

            if ($('aside').hasClass('aside-minimized')) {
                $('aside').removeClass('aside-minimized');
                $('.nav-link').removeClass('hide-text');
                $('.nav-link span').show();
                expandSidebar();
                $('.sub-nav-item').hide();
                $(clickedSubNavItem).show();
                $(clickedCaret).addClass('down');
            }
        }

        function setActiveMenuItem() {
            var url = window.location.href;
            var navItems = [
                {
                    id: 'administratorNavItem',
                    links: ["Administrator", "Division", "Office", "Region", "ActivityLog", "Workflow", "Position", "User", "Role", "Permission"],
                    subNavClass: 'administratorSubNavItem',
                    caretId: 'administratorNavLink'
                },
                { id: 'knowledgeManagementNavItem', links: ["PPD", "PMD"], subNavClass: 'knowledgeManagementSubNavItem', caretId: 'knowledgeManagementNavLink' },
                { id: 'LGISNavItem', links: ["PMED", "LGISOM"], subNavClass: 'LGISSubNavItem', caretId: 'LGISNavLink' },
                { id: 'OOTDNavItem', links: ["FASPSDB", "Profiles"], subNavClass: 'OOTDSubNavItem', caretId: 'OOTDNavLink' }
            ];

            $('.nav-item').removeClass('selected');

            $('.nav-item a').each(function () {
                var itemUrl = $(this).attr('href');
                if (url.includes(itemUrl)) {
                    $(this).closest('.nav-item').addClass('selected');
                }
            });

            navItems.forEach(function (navItem) {
                navItem.links.forEach(function (link) {
                    var regex = new RegExp('\\b' + link + '\\b');
                    if (regex.test(url)) {
                        $('#' + navItem.id).addClass('selected');
                        if (!$('aside').hasClass('aside-minimized')) {
                            $('.' + navItem.subNavClass).show();
                            $('#' + navItem.caretId + ' .caret').addClass('down');
                        }
                    }
                });
            });
        }

        function minimizeSidebar() {
            $('.nav-link').addClass('justify-content-center').removeClass('ms-1 ms-2');
            $('.nav-item').not('#workflowsTab .nav-item').addClass('mx-4');
            $('.logo-container').removeClass('me-1');
            $('.logo-container img').removeClass('w-25').addClass('w-50');
            $('.top-bar-container').css('margin-left', '100px');
            $('.main').css('padding-left', '120px');
            $('#sidebarToggle').css({
                'right': '34.5px',
                'top': '84.5px'
            });
            $('.sub-nav-item').css('display', 'none');
            $('.caret').css('display', 'none');
            $('footer').css('padding-left', '60px');
        }

        function expandSidebar() {
            $('.nav-link').removeClass('justify-content-center').addClass('ms-1');
            $('.nav-item').not('#workflowsTab .nav-item').removeClass('mx-4').addClass('mx-2');
            $('.logo-container').addClass('me-1');
            $('.logo-container img').removeClass('w-50').addClass('w-25');
            $('.top-bar-container').css('margin-left', '300px');
            $('.main').css('padding-left', '320px');
            $('#sidebarToggle').css({
                'right': '25px',
                'top': '28px'
            });
            $('.caret').css('display', 'block');
            $('.sub-nav-item').hide();
            $('footer').css('padding-left', '180px');
            $('[data-toggle="tooltip"]').tooltip('hide');
        }

        function toggleAllCarets() {
            $('#administratorNavLink .caret').toggleClass('down');
            $('#knowledgeManagementNavLink .caret').toggleClass('down');
            $('#LGISNavLink .caret').toggleClass('down');
            $('#OOTDNavLink .caret').toggleClass('down');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>