@using Intl.Realty.Firm.Models.ViewModel

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intl.Realty.Firm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DENR_FAPIS.styles.css" asp-append-version="true" />
</head>
<body>
    @* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DENR FAPIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header> *@
    <aside class="sidebar">
        <div class="h-auto d-flex align-items-center justify-content-center me-2 mt-3">
            <img src="~/files/img/logo-irf-white.png" alt="FASP IS Logo" class="img-fluid" />
        </div>
        <div class="nav-bar-container">
            <ul id="navItems" class="navbar-nav mt-5">
                <li id="dashboardNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 fw-bolder" asp-controller="Home" asp-action="Dashboard">
                        <i data-feather="bar-chart-2" data-placement="bottom" title="Dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
@*                 <li id="transactionNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 fw-bolder" asp-controller="Transaction" asp-action="Transaction">
                        <i data-feather="activity" data-placement="bottom" title="Transactions"></i>
                        <span>Upload New Transactions</span>
                    </a>
                </li> *@

                <li id="transactionNavItem" class="nav-item mx-4 my-2 rounded">
                    <a href="#" id="transactionNavLink" class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 me-3 fw-bolder" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="globe" data-bs-placement="right" title="Transactions"></i>
                        <span class="flex-grow-1">Upload New Transactions</span>
                        <i data-feather="chevron-down" class="caret"></i>
                    </a>

                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="transactionSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="SaleListing" asp-action="SaleListing">
                                            <span data-bs-placement="right" title="SaleListing">Sale Listing</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="transactionSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Transaction" asp-action="SaleCoop">
                                            <span data-bs-placement="right" title="SaleCoop">Sale Co-op</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="transactionSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Transaction" asp-action="LeaseListing">
                                            <span data-bs-placement="right" title="LeaseListing">Lease Listing</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="transactionSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Transaction" asp-action="LeaseCoop">
                                            <span data-bs-placement="right" title="LeaseCoop">Lease Co-op</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li id="informationPackageNavItem" class="nav-item mx-4 my-2 rounded">
                    <a href="#" id="informationPackageNavLink" class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 me-3 fw-bolder" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="globe" data-bs-placement="right" title="InformationPackages"></i>
                        <span class="flex-grow-1">Information Packages</span>
                        <i data-feather="chevron-down" class="caret"></i>
                    </a>

                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="informationPackageSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="InformationPackage" asp-action="BusinessCards">
                                            <span data-bs-placement="right" title="BusinessCards">Business Cards & Signs</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="informationPackageSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="InformationPackage" asp-action="CommissionAdvance">
                                            <span data-bs-placement="right" title="CommissionAdvance">Apply for Commission Advance</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="trainingNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="Training" asp-action="Training">
                        <i data-feather="upload" data-placement="bottom" title="Training"></i>
                        <span>Training</span>
                    </a>
                </li>

                <li id="irfProgramsNavItem" class="nav-item mx-4 my-2 rounded">
                    <a href="#" id="irfProgramsNavLink" class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 me-3 fw-bolder" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="globe" data-bs-placement="right" title="IrfProgramss"></i>
                        <span class="flex-grow-1">Information Packages</span>
                        <i data-feather="chevron-down" class="caret"></i>
                    </a>

                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="irfProgramsSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="IrfPrograms" asp-action="Mortgage">
                                            <span data-bs-placement="right" title="Mortgage">IRF Mortgage Program</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="irfProgramsSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="IrfPrograms" asp-action="Leads">
                                            <span data-bs-placement="right" title="Leads">IRF Leads Program</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li id="irfBrandedWebsiteNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="IrfBrandedWebsite" asp-action="IrfBrandedWebsite">
                        <i data-feather="upload" data-placement="bottom" title="IrfBrandedWebsite"></i>
                        <span>IRF Branded Website</span>
                    </a>
                </li>


                <li id="purchaseIRFStocksNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="PurchaseIRFStocks" asp-action="PurchaseIRFStocks">
                        <i data-feather="upload" data-placement="bottom" title="PurchaseIRFStocks"></i>
                        <span>Purchase IRF Stocks</span>
                    </a>
                </li>

                <li id="referAnAgentNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="ReferAnAgent" asp-action="ReferAnAgent">
                        <i data-feather="upload" data-placement="bottom" title="ReferAnAgent"></i>
                        <span>Refer An Agent</span>
                    </a>
                </li>

                <li id="preconstructionNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="Preconstruction" asp-action="Preconstruction">
                        <i data-feather="upload" data-placement="bottom" title="Preconstruction"></i>
                        <span>Pre-construction</span>
                    </a>
                </li>

                <li id="mediaNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 ms- fw-bolder" asp-controller="Media" asp-action="Media">
                        <i data-feather="upload" data-placement="bottom" title="Media"></i>
                        <span>Media</span>
                    </a>
                </li>
                <li id="administratorNavItem" class="nav-item mx-4 my-2 rounded">
                    <a href="#" id="administratorNavLink" class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 me-3 fw-bolder" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="globe" data-bs-placement="right" title="Administrator"></i>
                        <span class="flex-grow-1">Administrator</span>
                        <i data-feather="chevron-down" class="caret"></i>
                    </a>

                    <div class="navbar-collapse collapse justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Users" asp-action="Index">
                                            <span data-bs-placement="right" title="Users">Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="UserType" asp-action="Index">
                                            <span data-bs-placement="right" title="UserType">User Types</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Department" asp-action="Index">
                                            <span data-bs-placement="right" title="Departments">Departments</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="Provinces" asp-action="Index">
                                            <span data-bs-placement="right" title="Provinces">Provinces</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="TransactionType" asp-action="Index">
                                            <span data-bs-placement="right" title="Transaction Types">Transaction Types</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="administratorSubNavItem sub-nav-item">
                                <ul class="list-unstyled">
                                    <li class="my-2 ms-4">
                                        <a class="sub-nav-link" asp-controller="DocumentType" asp-action="Index">
                                            <span data-bs-placement="right" title="Document Types">Document Types</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li id="accountManagementNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 fw-bolder" asp-controller="AccountManagement" asp-action="AccountManagement">
                        <i data-feather="code" data-placement="bottom" title="Account Management"></i>
                        <span>Account Settings</span>
                    </a>
                </li>
                <li id="profileNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 fw-bolder" asp-controller="Profile" asp-action="Profile">
                        <i data-feather="user" data-placement="bottom" title="Profile"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li id="logoutNavItem" class="nav-item mx-4 mb-2 rounded">
                    <a class="nav-link text-decoration-none d-flex align-items-center gap-3 ms-3 fw-bolder" asp-controller="Account" asp-action="Logout">
                        <i data-feather="power" data-placement="bottom" title="Logout"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        @* <div class="aside-footer">
        <span class="small text-white">POWERED BY</span>
        </div> *@
    </aside>
    <div class="top-bar">
        <div class="top-bar-container shadow-sm d-flex">
            <div class="d-flex align-items-center justify-content-between mx-4 w-100">
                <div class="d-flex flex-row align-items-center gap-2">
                    <i data-feather="home" class="w-15px h-auto text-blue"></i>
                    <ul class="breadcrumb mb-0">
                        @{
                            var breadcrumbs = ViewBag.Breadcrumbs as List<BreadcrumbViewModel>;
                            var totalItems = breadcrumbs?.Count ?? 0;
                        }

                        @if (breadcrumbs != null)
                        {
                            @foreach (var item in breadcrumbs)
                            {
                                <li class="breadcrumb-item d-flex align-items-center gap-2">
                                    <i data-feather="chevron-right" class="w-15px h-auto text-blue pt-1"></i>
                                    <a href="@item.Url" class="text-decoration-none @(item.Equals(breadcrumbs[totalItems - 1]) ? "text-secondary" : "text-blue")">@item.DisplayName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                @* <div>
                search
                notif
                user
                avatar
                </div> *@
            </div>
        </div>
    </div>
    <main role="main" class="main pb-5">
        <div class="main-container px-4 pt-4 mb-5">
            @RenderBody()
        </div>
    </main>
    <footer class="footer text-muted pt-3 ms-4 w-75 d-flex justify-content-center">
        <div class="container text-center">
            © 2024 International Realty Firm
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/feather.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            feather.replace();

            $('[data-toggle="tooltip"]').tooltip();

            function setActiveMenuItem() {
                var url = window.location.href;
                $('.nav-item').removeClass('selected');
                $('.nav-item a').each(function () {
                    var itemUrl = $(this).attr('href');
                    if (url.includes(itemUrl)) {
                        $(this).closest('.nav-item').addClass('selected');
                    }
                });
            }

            setActiveMenuItem();

            $('.nav-item a').on('click', function () {
                $('.nav-item').removeClass('selected');
                $(this).closest('.nav-item').addClass('selected');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>