@using Intl.Realty.Firm.Models.Models.ViewModel.DocumentTypeAssignmentVM
@model EditDocumentTypeAssignmentViewModel

@using System.ComponentModel.DataAnnotations
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<h1>Edit</h1>

<h4>Document Type Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="fw-bolder p-2" for="classifications">
                    <span>Document Type</span>
                </label>

                <select id="DocumentTypeDDL" name="DocumentTypeDDL" class="form-control">
                    @{
                        @if (Model.DocumentTypeList != null)
                        {
                            @foreach (var documentType in Model.DocumentTypeList)
                            {
                                if (documentType.Id == Model.DocumentTypeId)
                                {
                                    <option value="@documentType.Id" selected>@documentType.Name</option>
                                }
                                else
                                {
                                    <option value="@documentType.Id">@documentType.Name</option>
                                }
                            }
                        }
                    }

                </select>

                @Html.ValidationMessageFor(m => m.DocumentTypeId, "", new { @class = "error" })
            </div>
            <div class="form-group">
                <label class="fw-bolder p-2" for="classifications">
                    <span>Transaction Type</span>
                </label>
                <select id="TransactionTypeDDL" name="TransactionTypeDDL" class="form-control">
                    @{
                        @if (Model.TransactionTypeList != null)
                        {
                            @foreach (var transactionType in Model.TransactionTypeList)
                            {
                                if (transactionType.Id == Model.TransactionTypeId)
                                {
                                    <option value="@transactionType.Id" selected>@transactionType.Name</option>
                                }
                                else
                                {
                                    <option value="@transactionType.Id">@transactionType.Name</option>
                                }
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(m => m.TransactionTypeId, "", new { @class = "error" })
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}